@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes sharte {
    0% {
        text-shadow: 2px 3px 0px #723fff;
        color: white;
    }

    100% {
        text-shadow: 0px 3px 0px #35e060;
        color: white;
    }

}

::selection {
    color: rgb(111, 0, 255);
    background: rgb(0, 255, 213);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: crosshair;
}

body {
    background-color: #111111;
    height: 5000px;
    padding-top: 70px;
}

h1,
h2,
h3,
p,
a {
    color: white;
    font-family: "Space Mono ", monospace;
    text-decoration: none;
}

a:hover {
    cursor: help;
}

header {
    background-color: white;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    font-size: 1.7em;
}

.header_content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
}

nav {
    transition: 0.2s ease-in-out;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header h1 {
    color: black;
    letter-spacing: -1px;
}

nav a {
    font-size: 17px;
    font-weight: 700;
    color: #747474;
    transition: color 0.3s ease-in-out;
}

nav a:hover,
nav a:focus {
    color: #000;
}

.ham {
    display: none;
}

.ham:hover {
    cursor: help;
}

.bar {
    width: 28px;
    height: 3px;
    background: #000;
    margin: 5px 0;
    opacity: 0.5;
    transition: 0.1s ease-out;
}

.main_message_con {
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin: 30vh 10rem;
}

.message_con>h1 {
    margin: 0.3em 0;
}

.message_con>h2 {
    margin: 0.3em 0;
    font-size: 1.4em;
    color: #35e060;
}

.message_con>.p1 {
    margin: 1.5em 0;
    color: #747474;
    font-size: 1.1em;
    line-height: 1.5em;
}

.message_con>.p2 {
    font-size: 1.2em;
    font-weight: 700;
}

.message_con a {
    box-shadow: inset 0 0 0 0 #723fff;
    color: #723fff;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.message_con a:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 #723fff;
}

.message_gif {
    position: absolute;
    right: 150px;
    top: 200px;
    z-index: -1;
}

.grid_h2 {
    text-align: center;
    margin-top: 40rem;
    margin-bottom: 4rem;
}

.grid1 {
    width: 1500px;
    height: 800px;

    margin: auto;

    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    gap: 1rem;

}

.frame1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;
}

.frame2 {
    width: 100%;
    height: 100%;
}

.frame3 {
    width: 100%;
    height: 100%;
}

.img1,
.img2,
.img3 {
    width: inherit;
    height: inherit;
    object-fit: cover;
}





.open-nav {
    transform: translateX(0);
}

.open-ham .bar:nth-child(1) {
    translate: 0 8px;
    transform: rotate(45deg);
}

.open-ham .bar:nth-child(2) {
    opacity: 0;
}

.open-ham .bar:nth-child(3) {
    translate: 0 -8px;
    transform: rotate(-45deg);
}



@media (max-width: 1024px) {

    header {
        justify-content: space-around;
        gap: 20rem;
    }

    .header_content {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 5rem;
    }

    nav {
        position: fixed;
        top: 70px;
        right: 0;
        background-color: rgb(212, 212, 212);
        width: 30vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateX(300%);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .ham {
        display: block;
    }

    .main_message_con {
        margin: 30vh 5rem;
    }

    .message_gif {
        display: none;
    }
}

@media (max-width: 450px) {
    .header_content {
        margin: 0 2rem;
    }

    nav {
        position: fixed;
        top: 70px;
        background-color: rgb(212, 212, 212);
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateX(200%);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .ham {
        display: block;
    }

    .main_message_con {
        margin: 30vh 2rem;
    }

    .message_con {
        font-size: 85%;
    }

    .br_for_mobile {
        display: block;
        margin-top: 5px;
    }
}